OPENSTORE_COORDINATOR_TOKEN=replace-with-a-local-random-token
OPENSTORE_NODE_1_PASSWORD=replace-with-node-1-password
OPENSTORE_NODE_2_PASSWORD=replace-with-node-2-password
OPENSTORE_NODE_3_PASSWORD=replace-with-node-3-password
